@import "~bootstrap/scss/_functions";
@import "./custom_variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $gray-200;
}

.sidebar .nav-link {
    transition: background-color .15s;

    &:hover {
        background-color: $gray-300;
    }
}