.column-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: $radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    img {
        max-width: 100%;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @include bg-gradient(#fff, 270deg);
    }
}

@include screen-min-sm {
    .column-image-wrapper {
        background-image: url('./assets/images/Ikaruga-sm.jpg');
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
    }
}