// overwrite bootstrap
body {
    background-color: #dee2e6;
}

.container-fluid {
    max-width: 1366px;
}

@include screen-max-xs {
    .container-fluid {
        padding: 0;
    }
}

// custom start
// common utilities
.main-wrapper {
    margin-top: -50px;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: $shadow;
    z-index: 99;
}

// loading placeholder (全頁)
.is-loading {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}

.scroller-wrapper {
    overflow-y: scroll;
    height: 100%;
}

.section-title{
    font-weight: bold;
}

// Home
.grid-home-top {
    display: grid;
    grid-template-rows: minmax(auto, 150px);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    .grid-banner {
        grid-row: 1/3;
        grid-column: 1/3;
    }
}

@include screen-max-sm {
    .grid-home-top {
        grid-template-rows: auto;
        grid-template-columns: 100%;

        .grid-banner {
            grid-row: 1/2;
            grid-column: 1;
        }
    }
}

// productList
.product-list-wrapper {
    position: relative;
}

// productInfo
.product-info-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: $radius;
    background-color: lighten($secondary-color, 50%);

    .product-bg-video {
        width: 100%;
        border-radius: $radius;
        margin-bottom: -7px;
    }

    .product-info-panel {
        position: absolute;
        width: 40%;
        max-width: 480px;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 1.5rem;
        background-color: rgba(#fff, .85);
        border-radius: $radius;
        // backdrop-filter: blur(5px);
        @include transition(.7s);

        .description-wrapper {
            white-space: pre-wrap;
        }

        .collapse-handler {
            position: absolute;
            top: 50%;
            left: -15px;
            background-color: rgba(#fff, .75);
            border-radius: $radius-sm;
            width: 8px;
            height: 30px;
            cursor: pointer;
        }

        &.is-watching {
            transform: translateX(100%);
        }
    }

    @include screen-max-sm {
        .product-info-panel {
            position: relative;
            width: auto;
            margin: auto;
            background-color: transparent;
            // backdrop-filter: unset;
        }
    }
}