body {
    background-color: #dee2e6;
}

.main-wrapper {
    margin-top: -50px;
    background-color: #fff;
    border-radius: $radius;
    box-shadow: $shadow;
    z-index: 99;
}

@media(max-width: 577px) {
    .container-fluid{
        padding: 0;
    }
}

// section {
//     padding: 15px 0;
// }