.product-wrapper {
    @include bg-image;
    @include transition;
    box-shadow: $shadow;
    overflow: hidden;
    border-radius: $radius;
    cursor: pointer;
    transform: scale(1);

    .product-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: .5em .8em;
        color: #fff;
        @include transition;
        transform: translateY(0);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .product-tag {
        padding: .15em .35em;
        border-radius: $radius-sm;
        background-color: $secondary-color;
        color: #fff;
        position: absolute;
        right: .5rem;
        top: .5rem;
        font-size: 1rem;
    }

    .product-title {
        margin: 0;
    }

    &:hover{
        transform: scale(1.02);
        .product-content{
            transform: translateY(-5%);
        }
    }
}